openapi: 3.0.0
info:
  version: 1.0.0
  title: Intelligent Assets REST API
servers:
  - url: https://assets.clearblade.com
tags:
  - name: Action Types
  - name: Actions
  - name: Adapter Config
  - name: Asset Comments
  - name: Asset History
  - name: Asset Images
  - name: Asset Tree
  - name: Asset Type Tree
  - name: Asset Types
  - name: Assets
  - name: Custom Settings
  - name: Dashboards
  - name: Device Config
  - name: Event Types
  - name: Events
  - name: Group Tree
  - name: Groups
  - name: Heatmaps
  - name: Logs
  - name: Microfrontends
  - name: Miscellaneous
  - name: Permission Definitions
  - name: Reports
  - name: Roles
  - name: Rule Types
  - name: Rules
  - name: System Info
  - name: Tour
  - name: Users
components:
  schemas: {}
  parameters: {}
paths:
  /api/v/1/code/{systemKey}/fetchTableItems?id=groupsForCallerUser.read:
    post:
      tags:
        - Groups
      description: Retrieve groups for the calling user
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - groupsForCallerUser.read
                body:
                  nullable: true
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  DATA:
                    type: array
                    items:
                      type: object
                      properties:
                        map_location_latitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_location_longitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_bounds:
                          anyOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  long:
                                    type: number
                                  lat:
                                    type: number
                                required:
                                  - long
                                  - lat
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom_float:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        name:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        tree_id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        is_root:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        item_id:
                          type: string
                      required:
                        - map_location_latitude
                        - map_location_longitude
                        - map_bounds
                        - id
                        - map_zoom
                        - map_zoom_float
                        - name
                        - tree_id
                        - is_root
                        - item_id
                  COUNT:
                    type: number
                required:
                  - DATA
                  - COUNT
  /api/v/1/code/{systemKey}/fetchTableItems?id=groupsForActionType.read:
    post:
      tags:
        - Groups
      description: Retrieve groups for a specific action type
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - groupsForActionType.read
                body:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                    - id
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  DATA:
                    type: array
                    items:
                      type: object
                      properties:
                        map_location_latitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_location_longitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_bounds:
                          anyOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  long:
                                    type: number
                                  lat:
                                    type: number
                                required:
                                  - long
                                  - lat
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom_float:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        name:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        tree_id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        is_root:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        item_id:
                          type: string
                      required:
                        - map_location_latitude
                        - map_location_longitude
                        - map_bounds
                        - id
                        - map_zoom
                        - map_zoom_float
                        - name
                        - tree_id
                        - is_root
                        - item_id
                  COUNT:
                    type: number
                required:
                  - DATA
                  - COUNT
  /api/v/1/code/{systemKey}/fetchTableItems?id=groupsForAssetType.read:
    post:
      tags:
        - Groups
      description: Retrieve groups for a specific asset type
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - groupsForAssetType.read
                body:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                    - id
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  DATA:
                    type: array
                    items:
                      type: object
                      properties:
                        map_location_latitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_location_longitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_bounds:
                          anyOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  long:
                                    type: number
                                  lat:
                                    type: number
                                required:
                                  - long
                                  - lat
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom_float:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        name:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        tree_id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        is_root:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        item_id:
                          type: string
                      required:
                        - map_location_latitude
                        - map_location_longitude
                        - map_bounds
                        - id
                        - map_zoom
                        - map_zoom_float
                        - name
                        - tree_id
                        - is_root
                        - item_id
                  COUNT:
                    type: number
                required:
                  - DATA
                  - COUNT
  /api/v/1/code/{systemKey}/fetchTableItems?id=groupsForRuleType.read:
    post:
      tags:
        - Groups
      description: Retrieve groups for a specific rule type
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - groupsForRuleType.read
                body:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                    - id
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  DATA:
                    type: array
                    items:
                      type: object
                      properties:
                        map_location_latitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_location_longitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_bounds:
                          anyOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  long:
                                    type: number
                                  lat:
                                    type: number
                                required:
                                  - long
                                  - lat
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom_float:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        name:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        tree_id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        is_root:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        item_id:
                          type: string
                      required:
                        - map_location_latitude
                        - map_location_longitude
                        - map_bounds
                        - id
                        - map_zoom
                        - map_zoom_float
                        - name
                        - tree_id
                        - is_root
                        - item_id
                  COUNT:
                    type: number
                required:
                  - DATA
                  - COUNT
  /api/v/1/code/{systemKey}/fetchTableItems?id=groupsForDashboard.read:
    post:
      tags:
        - Groups
      description: Retrieve groups for a specific dashboard
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - groupsForDashboard.read
                body:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                    - id
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  DATA:
                    type: array
                    items:
                      type: object
                      properties:
                        map_location_latitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_location_longitude:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_bounds:
                          anyOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  long:
                                    type: number
                                  lat:
                                    type: number
                                required:
                                  - long
                                  - lat
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        map_zoom_float:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        name:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        tree_id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        is_root:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        item_id:
                          type: string
                      required:
                        - map_location_latitude
                        - map_location_longitude
                        - map_bounds
                        - id
                        - map_zoom
                        - map_zoom_float
                        - name
                        - tree_id
                        - is_root
                        - item_id
                  COUNT:
                    type: number
                required:
                  - DATA
                  - COUNT
  /api/v/1/code/{systemKey}/fetchTableItems?id=actionTypes.read:
    post:
      tags:
        - Action Types
      description: Retrieve action types
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - actionTypes.read
                body:
                  type: object
                  properties:
                    query:
                      type: object
                      properties:
                        PrimaryKey:
                          type: array
                          items:
                            type: string
                        Order:
                          type: array
                          items:
                            type: object
                            properties:
                              SortOrder:
                                type: boolean
                              OrderKey:
                                type: string
                            required:
                              - SortOrder
                              - OrderKey
                        PageSize:
                          type: number
                        PageNumber:
                          type: number
                        Queries:
                          type: array
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                Operator:
                                  type: string
                                Field:
                                  type: string
                                Value:
                                  nullable: true
                              required:
                                - Operator
                                - Field
                        Columns:
                          type: array
                          items:
                            type: string
                        Distinct:
                          type: string
                        GroupBy:
                          type: array
                          items:
                            type: string
                        RawQuery:
                          type: string
                      required:
                        - PrimaryKey
                        - Order
                        - PageSize
                        - PageNumber
                        - Queries
                        - Columns
                        - Distinct
                        - GroupBy
                        - RawQuery
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  DATA:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        label:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        schema:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        item_id:
                          type: string
                      required:
                        - id
                        - label
                        - schema
                        - item_id
                  COUNT:
                    type: number
                required:
                  - DATA
                  - COUNT
  /api/v/1/code/{systemKey}/fetchTableItems?id=assetTypes.read:
    post:
      tags:
        - Asset Types
      description: Retrieve asset types
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - assetTypes.read
                body:
                  type: object
                  properties:
                    query:
                      type: object
                      properties:
                        PrimaryKey:
                          type: array
                          items:
                            type: string
                        Order:
                          type: array
                          items:
                            type: object
                            properties:
                              SortOrder:
                                type: boolean
                              OrderKey:
                                type: string
                            required:
                              - SortOrder
                              - OrderKey
                        PageSize:
                          type: number
                        PageNumber:
                          type: number
                        Queries:
                          type: array
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                Operator:
                                  type: string
                                Field:
                                  type: string
                                Value:
                                  nullable: true
                              required:
                                - Operator
                                - Field
                        Columns:
                          type: array
                          items:
                            type: string
                        Distinct:
                          type: string
                        GroupBy:
                          type: array
                          items:
                            type: string
                        RawQuery:
                          type: string
                      required:
                        - PrimaryKey
                        - Order
                        - PageSize
                        - PageNumber
                        - Queries
                        - Columns
                        - Distinct
                        - GroupBy
                        - RawQuery
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  DATA:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        label:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        description:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        icon:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        schema:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        controls_schema:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        device_type:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        parent_child_options:
                          anyOf:
                            - type: object
                              properties:
                                propagate_location_to_root:
                                  type: boolean
                                store_updates_on_root:
                                  type: boolean
                                show_location_on_map:
                                  type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        icon_svg:
                          anyOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - mui
                                iconKey:
                                  type: string
                              required:
                                - type
                                - iconKey
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - svg
                                svg:
                                  type: string
                              required:
                                - type
                                - svg
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        default_history_view:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        hide_attribute_if_undefined:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        item_id:
                          type: string
                      required:
                        - id
                        - label
                        - description
                        - icon
                        - schema
                        - controls_schema
                        - device_type
                        - parent_child_options
                        - icon_svg
                        - default_history_view
                        - hide_attribute_if_undefined
                        - item_id
                  COUNT:
                    type: number
                required:
                  - DATA
                  - COUNT
  /api/v/1/code/{systemKey}/fetchTableItems?id=assetTypeTree.read:
    post:
      tags:
        - Asset Type Tree
      description: Retrieve asset type tree
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - assetTypeTree.read
                body:
                  nullable: true
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
  /api/v/1/code/{systemKey}/fetchTableItems?id=assetTypesTopLevel.read:
    post:
      tags:
        - Asset Types
      description: Retrieve top level asset types from tree
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - assetTypesTopLevel.read
                body:
                  nullable: true
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      anyOf:
                        - type: string
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    label:
                      anyOf:
                        - type: string
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    description:
                      anyOf:
                        - type: string
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    icon:
                      anyOf:
                        - type: string
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    schema:
                      anyOf:
                        - type: string
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    controls_schema:
                      anyOf:
                        - type: string
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    device_type:
                      anyOf:
                        - type: string
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    parent_child_options:
                      anyOf:
                        - type: object
                          properties:
                            propagate_location_to_root:
                              type: boolean
                            store_updates_on_root:
                              type: boolean
                            show_location_on_map:
                              type: boolean
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    icon_svg:
                      anyOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - mui
                            iconKey:
                              type: string
                          required:
                            - type
                            - iconKey
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - svg
                            svg:
                              type: string
                          required:
                            - type
                            - svg
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    default_history_view:
                      anyOf:
                        - type: string
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    hide_attribute_if_undefined:
                      anyOf:
                        - type: boolean
                        - type: object
                          nullable: true
                          enum:
                            - null
                        - nullable: true
                    item_id:
                      type: string
                  required:
                    - id
                    - label
                    - description
                    - icon
                    - schema
                    - controls_schema
                    - device_type
                    - parent_child_options
                    - icon_svg
                    - default_history_view
                    - hide_attribute_if_undefined
                    - item_id
  /api/v/1/code/{systemKey}/fetchTableItems?id=eventTypes.read:
    post:
      tags:
        - Event Types
      description: Retrieve event types
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - eventTypes.read
                body:
                  type: object
                  properties:
                    query:
                      type: object
                      properties:
                        PrimaryKey:
                          type: array
                          items:
                            type: string
                        Order:
                          type: array
                          items:
                            type: object
                            properties:
                              SortOrder:
                                type: boolean
                              OrderKey:
                                type: string
                            required:
                              - SortOrder
                              - OrderKey
                        PageSize:
                          type: number
                        PageNumber:
                          type: number
                        Queries:
                          type: array
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                Operator:
                                  type: string
                                Field:
                                  type: string
                                Value:
                                  nullable: true
                              required:
                                - Operator
                                - Field
                        Columns:
                          type: array
                          items:
                            type: string
                        Distinct:
                          type: string
                        GroupBy:
                          type: array
                          items:
                            type: string
                        RawQuery:
                          type: string
                      required:
                        - PrimaryKey
                        - Order
                        - PageSize
                        - PageNumber
                        - Queries
                        - Columns
                        - Distinct
                        - GroupBy
                        - RawQuery
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  DATA:
                    type: array
                    items:
                      type: object
                      properties:
                        action_types:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        closed_states:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        description:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        has_lifecycle:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        label:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        open_states:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        priority:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        severity:
                          anyOf:
                            - type: number
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        open_states_arr:
                          anyOf:
                            - type: array
                              items:
                                type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        closed_states_arr:
                          anyOf:
                            - type: array
                              items:
                                type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        item_id:
                          type: string
                      required:
                        - action_types
                        - closed_states
                        - description
                        - has_lifecycle
                        - id
                        - label
                        - open_states
                        - priority
                        - severity
                        - open_states_arr
                        - closed_states_arr
                        - item_id
                  COUNT:
                    type: number
                required:
                  - DATA
                  - COUNT
  /api/v/1/code/{systemKey}/fetchTableItems?id=eventTypeByID.read:
    post:
      tags:
        - Event Types
      description: Retrieve a single event type by ID
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - eventTypeByID.read
                body:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                    - id
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action_types:
                    anyOf:
                      - type: array
                        items:
                          type: string
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  closed_states:
                    anyOf:
                      - type: array
                        items:
                          allOf:
                            - type: object
                              properties:
                                state:
                                  type: string
                              required:
                                - state
                            - type: object
                              properties:
                                uuid:
                                  type: string
                              required:
                                - uuid
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  description:
                    anyOf:
                      - type: string
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  has_lifecycle:
                    anyOf:
                      - type: boolean
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  id:
                    anyOf:
                      - type: string
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  label:
                    anyOf:
                      - type: string
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  open_states:
                    anyOf:
                      - type: array
                        items:
                          allOf:
                            - type: object
                              properties:
                                state:
                                  type: string
                              required:
                                - state
                            - type: object
                              properties:
                                uuid:
                                  type: string
                              required:
                                - uuid
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  priority:
                    anyOf:
                      - type: number
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  severity:
                    anyOf:
                      - type: number
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  open_states_arr:
                    anyOf:
                      - type: array
                        items:
                          type: string
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  closed_states_arr:
                    anyOf:
                      - type: array
                        items:
                          type: string
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  item_id:
                    type: string
                required:
                  - action_types
                  - closed_states
                  - description
                  - has_lifecycle
                  - id
                  - label
                  - open_states
                  - priority
                  - severity
                  - open_states_arr
                  - closed_states_arr
                  - item_id
  /api/v/1/code/{systemKey}/fetchTableItems?id=ruleTypes.read:
    post:
      tags:
        - Rule Types
      description: Retrieve rule types
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - ruleTypes.read
                body:
                  type: object
                  properties:
                    query:
                      type: object
                      properties:
                        PrimaryKey:
                          type: array
                          items:
                            type: string
                        Order:
                          type: array
                          items:
                            type: object
                            properties:
                              SortOrder:
                                type: boolean
                              OrderKey:
                                type: string
                            required:
                              - SortOrder
                              - OrderKey
                        PageSize:
                          type: number
                        PageNumber:
                          type: number
                        Queries:
                          type: array
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                Operator:
                                  type: string
                                Field:
                                  type: string
                                Value:
                                  nullable: true
                              required:
                                - Operator
                                - Field
                        Columns:
                          type: array
                          items:
                            type: string
                        Distinct:
                          type: string
                        GroupBy:
                          type: array
                          items:
                            type: string
                        RawQuery:
                          type: string
                      required:
                        - PrimaryKey
                        - Order
                        - PageSize
                        - PageNumber
                        - Queries
                        - Columns
                        - Distinct
                        - GroupBy
                        - RawQuery
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  DATA:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        include_timeframe:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        conditions:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        label:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        event_type_ids:
                          anyOf:
                            - type: string
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        is_external:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        is_invalid:
                          anyOf:
                            - type: boolean
                            - type: object
                              nullable: true
                              enum:
                                - null
                            - nullable: true
                        item_id:
                          type: string
                      required:
                        - id
                        - include_timeframe
                        - conditions
                        - label
                        - event_type_ids
                        - is_external
                        - is_invalid
                        - item_id
                  COUNT:
                    type: number
                required:
                  - DATA
                  - COUNT
  /api/v/1/code/{systemKey}/fetchTableItems?id=ruleTypeByID.read:
    post:
      tags:
        - Rule Types
      description: Retrieve rule types
      parameters:
        - schema:
            type: string
          required: true
          name: systemKey
          in: path
        - schema:
            type: string
          required: true
          name: ClearBlade-UserToken
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum:
                    - ruleTypeByID.read
                body:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                    - id
              required:
                - name
                - body
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    anyOf:
                      - type: string
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  include_timeframe:
                    anyOf:
                      - type: boolean
                      - type: object
                        nullable: true
                        enum:
                          - null
                      - nullable: true
                  conditions:
                    anyOf:
                      - type: object
                        properties:
                          and:
                            type: array
                            items:
                              anyOf:
                                - type: object
                                  properties:
                                    type:
                                      anyOf:
                                        - type: string
                                          enum:
                                            - state
                                        - type: string
                                          enum:
                                            - area
                                    meta:
                                      anyOf:
                                        - type: array
                                          items:
                                            anyOf:
                                              - type: object
                                                properties:
                                                  entity:
                                                    type: object
                                                    properties:
                                                      prefix:
                                                        type: string
                                                      selected_entity:
                                                        type: object
                                                        properties:
                                                          value:
                                                            anyOf:
                                                              - type: string
                                                                enum:
                                                                  - all
                                                              - type: string
                                                          ancestorId:
                                                            type: string
                                                        required:
                                                          - value
                                                      allow_types:
                                                        type: boolean
                                                      allow_specific:
                                                        type: boolean
                                                      suffix:
                                                        type: string
                                                      filter_type:
                                                        type: array
                                                        items:
                                                          anyOf:
                                                            - type: object
                                                              properties:
                                                                id:
                                                                  type: string
                                                                  enum:
                                                                    - assets
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                    - all
                                                                label:
                                                                  type: string
                                                                  enum:
                                                                    - Assets
                                                              required:
                                                                - id
                                                                - type
                                                                - label
                                                            - type: object
                                                              properties:
                                                                id:
                                                                  type: string
                                                                  enum:
                                                                    - asset_types
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                    - types
                                                                label:
                                                                  type: string
                                                                  enum:
                                                                    - Asset Types
                                                              required:
                                                                - id
                                                                - type
                                                                - label
                                                            - type: object
                                                              properties:
                                                                id:
                                                                  type: string
                                                                  enum:
                                                                    - areas
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                    - all
                                                                label:
                                                                  type: string
                                                                  enum:
                                                                    - Areas
                                                              required:
                                                                - id
                                                                - type
                                                                - label
                                                            - type: object
                                                              properties:
                                                                id:
                                                                  type: string
                                                                  enum:
                                                                    - area_types
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                    - types
                                                                label:
                                                                  type: string
                                                                  enum:
                                                                    - Area Types
                                                              required:
                                                                - id
                                                                - type
                                                                - label
                                                    required:
                                                      - prefix
                                                      - selected_entity
                                                      - allow_types
                                                      - allow_specific
                                                      - suffix
                                                      - filter_type
                                                required:
                                                  - entity
                                              - type: object
                                                properties:
                                                  relationship:
                                                    anyOf:
                                                      - allOf:
                                                          - anyOf:
                                                              - type: object
                                                                properties:
                                                                  equal:
                                                                    type: boolean
                                                                  notEqual:
                                                                    type: boolean
                                                                  "true":
                                                                    type: string
                                                                  "false":
                                                                    type: string
                                                              - type: object
                                                                properties:
                                                                  equal:
                                                                    type: string
                                                                  notEqual:
                                                                    type: string
                                                                  value:
                                                                    type: string
                                                                required:
                                                                  - equal
                                                                  - notEqual
                                                              - type: object
                                                                properties:
                                                                  value:
                                                                    type: number
                                                                  greaterThan:
                                                                    type: string
                                                                  lessThan:
                                                                    type: string
                                                                  equal:
                                                                    type: string
                                                                  notEqual:
                                                                    type: string
                                                                  greaterThanInclusive:
                                                                    type: string
                                                                  lessThanInclusive:
                                                                    type: string
                                                                  units:
                                                                    type: string
                                                                  comparePreviousNumberType:
                                                                    anyOf:
                                                                      - type: string
                                                                        enum:
                                                                          - value
                                                                      - type: string
                                                                        enum:
                                                                          - percent
                                                                      - type: string
                                                                        enum:
                                                                          - numeric
                                                                required:
                                                                  - greaterThan
                                                                  - lessThan
                                                                  - equal
                                                                  - notEqual
                                                                  - greaterThanInclusive
                                                                  - lessThanInclusive
                                                                  - units
                                                          - type: object
                                                            properties:
                                                              attribute:
                                                                type: string
                                                              attribute_label:
                                                                type: string
                                                              attribute_type:
                                                                anyOf:
                                                                  - type: string
                                                                    enum:
                                                                      - boolean
                                                                  - type: string
                                                                    enum:
                                                                      - number
                                                                  - type: string
                                                                    enum:
                                                                      - string
                                                              suffix:
                                                                type: string
                                                              comparePreviousValue:
                                                                type: boolean
                                                            required:
                                                              - attribute
                                                              - attribute_label
                                                              - attribute_type
                                                              - suffix
                                                      - type: object
                                                        properties:
                                                          inside:
                                                            type: string
                                                          outside:
                                                            type: string
                                                        required:
                                                          - inside
                                                          - outside
                                                required:
                                                  - relationship
                                              - type: object
                                                properties:
                                                  duration:
                                                    type: object
                                                    properties:
                                                      include_duration:
                                                        type: boolean
                                                    required:
                                                      - include_duration
                                                required:
                                                  - duration
                                          minItems: 3
                                          maxItems: 3
                                        - type: array
                                          items:
                                            anyOf:
                                              - type: object
                                                properties:
                                                  entity:
                                                    type: object
                                                    properties:
                                                      prefix:
                                                        type: string
                                                      selected_entity:
                                                        type: object
                                                        properties:
                                                          value:
                                                            anyOf:
                                                              - type: string
                                                                enum:
                                                                  - all
                                                              - type: string
                                                          ancestorId:
                                                            type: string
                                                        required:
                                                          - value
                                                      allow_types:
                                                        type: boolean
                                                      allow_specific:
                                                        type: boolean
                                                      suffix:
                                                        type: string
                                                      filter_type:
                                                        type: array
                                                        items:
                                                          anyOf:
                                                            - type: object
                                                              properties:
                                                                id:
                                                                  type: string
                                                                  enum:
                                                                    - assets
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                    - all
                                                                label:
                                                                  type: string
                                                                  enum:
                                                                    - Assets
                                                              required:
                                                                - id
                                                                - type
                                                                - label
                                                            - type: object
                                                              properties:
                                                                id:
                                                                  type: string
                                                                  enum:
                                                                    - asset_types
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                    - types
                                                                label:
                                                                  type: string
                                                                  enum:
                                                                    - Asset Types
                                                              required:
                                                                - id
                                                                - type
                                                                - label
                                                            - type: object
                                                              properties:
                                                                id:
                                                                  type: string
                                                                  enum:
                                                                    - areas
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                    - all
                                                                label:
                                                                  type: string
                                                                  enum:
                                                                    - Areas
                                                              required:
                                                                - id
                                                                - type
                                                                - label
                                                            - type: object
                                                              properties:
                                                                id:
                                                                  type: string
                                                                  enum:
                                                                    - area_types
                                                                type:
                                                                  type: string
                                                                  enum:
                                                                    - types
                                                                label:
                                                                  type: string
                                                                  enum:
                                                                    - Area Types
                                                              required:
                                                                - id
                                                                - type
                                                                - label
                                                    required:
                                                      - prefix
                                                      - selected_entity
                                                      - allow_types
                                                      - allow_specific
                                                      - suffix
                                                      - filter_type
                                                required:
                                                  - entity
                                              - type: object
                                                properties:
                                                  relationship:
                                                    anyOf:
                                                      - allOf:
                                                          - anyOf:
                                                              - type: object
                                                                properties:
                                                                  equal:
                                                                    type: boolean
                                                                  notEqual:
                                                                    type: boolean
                                                                  "true":
                                                                    type: string
                                                                  "false":
                                                                    type: string
                                                              - type: object
                                                                properties:
                                                                  equal:
                                                                    type: string
                                                                  notEqual:
                                                                    type: string
                                                                  value:
                                                                    type: string
                                                                required:
                                                                  - equal
                                                                  - notEqual
                                                              - type: object
                                                                properties:
                                                                  value:
                                                                    type: number
                                                                  greaterThan:
                                                                    type: string
                                                                  lessThan:
                                                                    type: string
                                                                  equal:
                                                                    type: string
                                                                  notEqual:
                                                                    type: string
                                                                  greaterThanInclusive:
                                                                    type: string
                                                                  lessThanInclusive:
                                                                    type: string
                                                                  units:
                                                                    type: string
                                                                  comparePreviousNumberType:
                                                                    anyOf:
                                                                      - type: string
                                                                        enum:
                                                                          - value
                                                                      - type: string
                                                                        enum:
                                                                          - percent
                                                                      - type: string
                                                                        enum:
                                                                          - numeric
                                                                required:
                                                                  - greaterThan
                                                                  - lessThan
                                                                  - equal
                                                                  - notEqual
                                                                  - greaterThanInclusive
                                                                  - lessThanInclusive
                                                                  - units
                                                          - type: object
                                                            properties:
                                                              attribute:
                                                                type: string
                                                              attribute_label:
[...]
